body{
    background: $background-white;
}

#logo-header{
    max-width: 100%;
    img{
        max-width: 350px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}

#zona-texto-intro{
	max-width: 500px;
	justify-content: center;
    margin: 0 auto;
    .texto-intro{
        padding: 25px 20px;
        font-size: 18px;
        line-height: 25px;
        font-family: sans-serif;
        text-align: center;
    }
}



#zona-pregunta{
	max-width: 500px;
	justify-content: center;
    margin: 0 auto;
    .titulo-pregunta{
        padding: 25px 20px;
        font-family: sans-serif;
        text-align: center;
    }
}


.pregunta{
	padding: 25px 20px;
	font-size: 18px;
	line-height: 25px;
	font-family: sans-serif;
	text-align: center;
}


.flex-container {
	display: flex;
	justify-content: center;
  }

  .button{
	  margin: 50px 5%;
  }

#si {
	background-color:$light-green;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:$white;
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	padding:20px 60px;
	text-decoration:none;
	text-shadow:-1px 1px 5px #000000;
}
#si:hover {
	background-color:$dark-green;
}
#si:active {
	position:relative;
	top:1px;
}

#no {
	background-color:$light-red;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:$white;
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	padding:20px 60px;
	text-decoration:none;
	text-shadow:-1px 1px 5px $black;
}
#no:hover {
	background-color:$dark-red;
}
#no:active {
	position:relative;
	top:1px;
}

#continuar, #continuar-formulario {
	background-color:$light-blue;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:$white;
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	padding:20px 60px;
	text-decoration:none;
	text-shadow:-1px 1px 5px $black;
}
#continuar-formulario:hover {
	background-color:$dark-blue;
}
#continuar-formulario:active {
	position:relative;
	top:1px;
}
#continuar:hover {
	background-color:$dark-blue;
}
#continuar:active {
	position:relative;
	top:1px;
}




form {
    display: block;
    position: relative;
    width: 350px;
    height: auto;
    margin: 50px auto;
    background: $white;
    padding: 50px 30px;
  }

  label {
    display: block;
    position: relative;
    top: -20px;
    left: 0;
    color: $light-text-color;
    font-size: 16px;
    transition: all 0.3s ease;
    z-index: 1;
  }

  input, select {
    display: block;
    position: relative;
    width: 100%;
    border: none;
    border-bottom: 1px solid $light-text-color;
    font-size: 16px;
    z-index: 2;
    background: none;
  }

  input:focus,
  input:valid {
    outline: none;
    border-bottom: 1px solid $light-blue;
  }

  input:focus + label,
  input:valid + label {
    font-size: 12px;
    top: -40px;
    color: $light-blue;
  }

  .divider {
    display: block;
    width: 100%;
    height:30px;
    background: none;
  }