//Global Var Files
$background-white: #fff;
$main-text-color: #333;
$light-text-color: #666;
$main-text: sans-serif;
//Colors
$black: #000;
$white:#fff;
$light-blue:#547ccc;
$dark-blue:#335880;
$light-green:#56cc71;
$dark-green:#33804e;
$light-red:#cc5252;
$dark-red:#803232;

